* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: white;
    width: 50%;
}

/*cuerpo*/
body {
    background-image: linear-gradient(to bottom, rgba(223, 222, 222, 0.507), white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*contenedor*/
.containerr {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.733);
    width: 65%;
    padding: 25px;
}

div ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*slider*/

ul.slider {
    position: relative;
    width: 800px;
    height: 400px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
    justify-items: center;
    align-items: center;
}

ul.slider li img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 30px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 2px;
    width: 30px;
    height: 25px;
    font-size: 20px;
    border-radius: 30px;
}

/*navegador*/

header {
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
}

header div a {
    padding-left: 5%;
}

header ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navegacion {
    color: black;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.navegacion li a:hover {
    padding: 20%;
    background-color: rgb(221, 221, 221);
}

header div {
    width: 50%;
}

header div img {
    width: 100px;
    height: 100%;
}

/*pie de pagina*/
footer {
    background-color: rgba(153, 180, 202, 0.438);
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    margin-top: auto;
}

footer div {
    width: 100%;
}

.navfooter {
    display: flex;
    justify-content: center;
}

.enlace {
    color: black;
}

.enlace:hover {
    color: white;
}

.fuente {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

main {
    padding: 2%;
    margin-top: 2%;
}

.lista {
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/*todas las imagenes*/
img {
    width: 20%;
}

/*marcas*/
.imagenes {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-items: flex-end;
    align-items: center;
}

.columna {
    flex: 25%;
    padding: 15px;
}

.columna img {
    margin-top: 5px;
    display: inline;
    height: 90px;
    justify-items: center;
    border-width: 5%;
}

/*grid*/
.grilla {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
    gap: 1px;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

/*boostrap*/
.container{
    justify-items: center;
    align-items: center;
    gap: 5%;
}

.btn-group{
    justify-content: center;
}
