$primary: white;

$secundary: rgba(233, 222, 222, 0.507);


body {
    background-image: linear-gradient(to bottom, $secundary , $primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}