img {
    width: 20%;
}

li img{
    width: 100%;
}

.carousel-inner {
    max-height: 39rem;
  }
  
  .titulo-wrap {
    width: 75%;
    margin: auto;
  }
  
  .color-light {
    color: rgb(255, 255, 255);
  }