.imagenes {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-items: flex-end;
    align-items: center;
}

.columna {
    flex: 25%;
    padding: 15px;

    img {
        margin-top: 5px;
        display: inline;
        height: 90px;
        justify-items: center;
        border-width: 5%;
    }
}